/* ------------------ RESOURCES ------------------ 
  ------ typography  ------ 
font-family: "Roboto", sans-serif;

font weight
400 / 600

line height
1.6 / 1.4

letter spacing
0 / -1

font size
16 / 30

  ------ colors  ------ 
  primary color
  base= #3c096c
  tint= #8a6ba7
  shade= #18042b


/* ------------------ GLOBAL STYLES ------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #011d32;
  color: #fff;
  text-align: center;
}
main {
  padding: 2rem;
}
p {
  color: #9b9b9b;
  line-height: 1.6;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  max-width: 500px;
}
span {
  background: linear-gradient(
    40deg,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------ COMPONENT ------------------ */
.main-container {
  max-width: 1600px;
  margin: 0 auto;
}
.main {
  max-width: 1200px;
  margin: 0 auto;
}
.btn {
  background-color: #3c096c;
  padding: 0.5rem 1rem;
  color: #fff;
}
.btn-secondary {
  background-color: #011d32;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-secondary::after {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  background-image: linear-gradient(
    40deg,
    #fc72ff,
    #8f68ff,
    #487bff,
    #8f68ff,
    #fc72ff
  );
  z-index: -1;
}
.chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #18042b;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
}
.chat {
  font-size: 2.5rem;
  color: #fff;
}

/* ------------------ NAV BAR ------------------ */
.header {
  background-color: #011d32;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ffffff2c;
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 0rem;
}
.nav-logo-container {
  width: 5rem;
  border-radius: 50%;
}
.nav-logo {
  width: 100%;
  mix-blend-mode: lighten;
}
.nav {
  display: flex;
}
.nav-items {
  display: none;
}
.nav-btn {
  display: none;
}
.nav-menu {
  font-size: 1.5rem;
}
/* ------------------ HERO SECTION ------------------ */
.hero {
  margin-bottom: 7rem;
}
.hero-title {
  margin-bottom: 1rem;
  font-size: 40px;
}
.hero-para {
  margin-bottom: 2rem;
}
.hero-cta {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: -0.4rem;
}
.members {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.members-para {
  color: #fff;
  font-weight: 500;
}
/* ------------------ FEATURE SECTION ------------------ */
.feature {
  margin-bottom: 2rem;
}
.feature-title {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.feature-para {
  margin-bottom: 5rem;
  font-size: 0.9rem;
}
.feature-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.feature-card {
  background: linear-gradient(to bottom, #ffffff23, #ffffff07);
  margin-bottom: 5rem;
  border-radius: 5px;
  padding: 2rem;
  max-width: 300px;
  min-width: 300px;
  min-height: 250px;
  max-height: 250px;
  border: 1px solid #ffffff2d;
}
.feature-img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: relative;
  top: -70px;
  margin-bottom: -3rem;
  box-shadow: 0px 2px 10px #000000;
}
.card-title {
  margin-bottom: 1rem;
}
.card-para {
  font-size: 0.8rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px #000000;
}
.card-link {
  color: #8a6ba7;
}

/* ------------------ EXPLORE SECTION ------------------ */
.explore {
  margin-bottom: 7rem;
}
.explore-title {
  margin-bottom: 1rem;
}
.explore-para {
  margin-bottom: 1rem;
}
.cta {
  margin-bottom: 1rem;
}
/* ------------------ support SECTION ------------------ */
.support {
  margin-bottom: 7rem;
}
.support-img {
  margin-bottom: 1rem;
}
.support-title {
  margin-bottom: 1rem;
}
.support-para {
  margin-bottom: 1rem;
}
/* ------------------ SECURITY SECTION ------------------ */
.security {
  margin-bottom: 7rem;
}
.security-title {
  margin-bottom: 1rem;
}
.security-para {
  margin-bottom: 1rem;
}
.cta {
  margin-bottom: 1rem;
}
/* ------------------ SLIDE SECTION ------------------ */

.slide-title {
  margin-bottom: 1rem;
}
.slide-text {
  margin-bottom: 5rem;
}
.slide-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.slide-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: #3c096c5b;
  border: 1px solid #3c096c;
  padding: 0.5rem 1rem;
  max-width: 15rem;
  border-radius: 10px;
}
.slide-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.slide-para {
  color: #fff;
}
small {
  color: #008000;
}
.red {
  color: #851010;
}
/* ------------------ FOOTER SECTION ------------------ */
.footer {
  padding: 2rem;
  background: linear-gradient(to bottom, #2a3944, #1b252c, #0f1418);
  border-top: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer-logo-container {
  width: 4rem;
  height: 4rem;
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  width: 100%;
  mix-blend-mode: lighten;
}
.footer-para {
  font-size: 0.8rem;
  color: #9b9b9b;
}
.contact {
  display: flex;
  gap: 1rem;
}
.tel {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tel-text {
  color: #9b9b9b;
  font-size: 0.7rem;
}
.tel-number {
  color: #fff;
  font-size: 0.7rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer-link {
  color: #9b9b9b;
  font-size: 0.8rem;
}
.footer-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-title {
  color: #fff;
}

.footer-input {
  padding: 0.5rem 2rem;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.fa-brands {
  font-size: 1.2rem;
}
.footer-btn {
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}
.socials {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.footer-icon {
  background-color: #3c096c;
  padding: 0.5rem;
  border-radius: 50px;
}
/* ------------------ MEDIA QUERY ------------------ */
@media (min-width: 760px) {
  /* NAV SECTION */

  .nav-btn-container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .nav-link {
    color: #fff;
  }
  .nav-menu {
    display: flex;
  }
  .nav-btn {
    display: flex;
  }

  /* HERO SECTION */
  .hero {
    margin-top: 5rem;
  }
  .hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .hero-content-conainer {
    text-align: left;
  }
  .hero-cta {
    justify-content: flex-start;
  }
  .members {
    justify-content: flex-start;
    gap: 3rem;
  }
  .hero-image {
    max-width: 1000px;
  }
  /* FEATURE SECTION */
  .feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  /* EXPLORE SECTION */
  .explore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
  }
  .explore-title {
    width: 300px;
  }
  .explore-para {
    width: 400px;
  }
  /* SUPPORT SECTION */
  .support-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
  }
  .support-title {
    width: 350px;
  }
  .support-para {
    width: 400px;
  }
  /* SECURITY SECTION */
  .security-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    text-align: left;
  }
  .security-title {
    width: 300px;
  }
  .security-para {
    width: 400px;
  }
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slide-text {
    width: 460px;
  }
  /* FOOTER */
  .footer {
    padding: 2rem rem;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer-para {
    width: 350px;
  }
  .footer-links {
    flex-direction: row;
  }
  .footer-sub {
    text-align: left;
  }
  .socials {
    margin-bottom: 3rem;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  /* COMPONENTS */
  .nav-link:hover {
    color: #8a6ba7;
  }
  .btn-primary:hover {
    background-color: #18042b;
  }
  .btn-secondary:hover {
    color: #8a6ba7;
  }
  .cta {
    width: 150px;
  }
  .footer-socials:hover {
    background-color: #8a6ba7;
  }
  .footer-link:hover {
    color: #8a6ba7;
  }
  /* NAV SECTION */
  .nav-items {
    display: flex;
    gap: 2rem;
  }
  .nav-menu {
    display: none;
  }
  /* FEATURE SECTION */
  .feature-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    min-height: 400px;
  }
  /* FOOTER */
  .footer {
    padding: 2rem 13rem;
  }
}
